*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(231, 229, 229);
}
/* ===================
     1.header
=================== */
header{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.a-header{
    display: inline-block;
    text-align: center;
    padding: 10px 15px ;
    text-decoration: none;
    color:#ffff;
}
.a-header:hover{
       background-color: rgb(187, 187, 187);
       color: black;
}
/* ===================
     2.section1
=================== */
.section1{
    background-color: #ffff;
    text-align: center;
    height: 200px;
}
.h1-section1{
    padding-top: 50px;
         margin-bottom: 30px;
         font-size: 40px;
        transform: scaleY(1.5);
        letter-spacing: 1px;
        word-spacing: 3px;
}
.p-section1{
    transform: scaleY(1.5);
    letter-spacing: 1px;
    
}

.bb{
    padding:3px  6px;
    box-shadow: 1px 1px 10px gray;
    background-color: black;
    color:#ffff;
    
}
/* ===================
     3.section2
=================== */
.section2{
    
    color:#ffff;
    position: relative;
}
.img1{
    width: 100%;
}
.span-section2{
    position:absolute;
    left: 30px;
    bottom: 50%;
}
.h2-section2{
    font-size:30px;
}
.h1-section2{
    font-size:50px;
}
.btn-section2{
    all: unset;
    background-color: rgb(124, 122, 122);
    padding: 10px 18px;
    color:black;
    font-size: 19px;
}
.btn-section2:hover{
    background-color: rgb(165, 164, 164);
}
/* ===================
     4.Grid 
        4.1.section3
        4.2.section4
=================== */
.div-grid{
    margin:10px 0 ;
    display:grid;
    grid-template-columns: 60% 1fr;
}




/* ===================
        4.1.section3
=================== */
.section3{
    text-align: center;
    margin: 10px;   
    background-color: white;
}
.h2-section3{
    margin-top:20px;
    margin-bottom: 10px;
}
.h3-section3{
    margin:20px;
   
}
.b{
    color:grey;
}
.img2{
    display: inline-block;
    width: 90%;
    margin: 0 10px;
}
.p-section3{
    margin: 10px  37px;
    text-align: left;
    width: 90%;
    font-size:20px;
}
.btn-section3,.btn2-section3{
   all:unset;
   height:30px;
   
}
.btn-section3{
      color:black;
      font-weight: bold;
      border:0.6px solid rgb(129, 127, 127);
      width: 70px;
      float: left;
      margin-left:50px;
}
.btn2-section3{
    color:white;
    font-weight: bold;
    background-color:black ;
    margin-right:40px;
    width: 90px;
    float:right;
   
}
.btn2-section3:hover{
    color:black;
    background-color:rgb(146, 141, 141);
}
.btn-section3:hover{
    color:white;
    background-color:black ;
}
.div-section3{
    display: flex;
    justify-content:left;
    margin: 50px 0;
    padding-top: 50px;
    border-top:0.5px solid rgb(196, 191, 191);
    
}
.p1-section3{
    margin-top: 20px;
}
.h2-2-section3{
     font-size:17px;
     color:black;
}
.p1-section3{
    color:rgb(131, 128, 128);
}
.fa-thumbs-up{
    margin-right:6px;
}
.sup-img{
    display:inline-block;
    margin:0 37px;
    width: 100px;
    height:100px;
    
}
/* ===================
        4.2.section4
=================== */
.section4{
    text-align: center;
    margin: 10px;   
    background-color: white;
    padding-bottom:50px;
    padding-top:30px;
}
.h1-section4,
.p-section4{
    padding:15px;
}
.b-section4{
    color:black;
}
.p-section4{
    color:grey;

}
.p2-section4{
    margin: 10px  37px;
    text-align: left;
    width: 90%;
    font-size:20px;
}
.btn-section4,.btn2-section4{
    all:unset;
    height:30px;
    
 }
 .btn-section4{
    color:black;
    font-weight: bold;
    border:0.6px solid rgb(129, 127, 127);
    width: 70px;
    float: left;
    margin-left:50px;

}
.btn2-section4{
    color:white;
    font-weight: bold;
    background-color:black ;
    margin-right:40px;
    width: 90px;
    float:right;
   
}
.btn2-section4:hover{
    color:black;
    background-color:rgb(146, 141, 141);
}
.btn-section4:hover{
    color:white;
    background-color:black ;
}
/* ===================
        4.2.section5
=================== */
.section5{
    text-align: center;
    margin: 10px;  
    background-color: white;
    padding-bottom:50px;
    padding-top:30px;
    height: 740px;
}
.h1-section5,
.p-section5{
    padding:15px;
}
.b-section5{
    color:black;
}
.p-section5{
    color:grey;

}
.p2-section5{
    margin: 10px  37px;
    text-align: left;
    width: 90%;
    font-size:20px;
}
.btn-section5,.btn2-section5{
    all:unset;
    height:30px;
    margin-top:30px;
    text-align: center;
    
 }
 .btn-section5{
    color:black;
    font-weight: bold;
    border:0.6px solid rgb(129, 127, 127);
    width: 70px;
    float: left;
    margin-left:50px;

}
.btn2-section5{
    color:white;
    font-weight: bold;
    background-color:black ;
    margin-right:40px;
    width: 90px;
    float:right;
}
.btn2-section5:hover{
    color:black;
    background-color:rgb(146, 141, 141);
}
.btn-section5:hover{
    color:white;
    background-color:black ;
}
/* ===================
        4.2.section6
=================== */
.section6{
    text-align: center;
    margin: 10px;  
   
    padding-top:30px;
    height: 380px;
}
.img-section6{
    width: 100%;
    margin:0;
}
.div-section6{
    background-color:black;
    color:white;
    height:100px;
    margin: 0;
    text-align: left;
    padding-left:10px;
     position: relative;
    top:-50px;
}
/* ===================
        4.2.section7
=================== */
.section7{
    background-color:white; 
    margin:0 10px;
    margin-top: 10px;  
}
.div-section7{
    height: 70px;
   display:flex;
   border-top: 1px solid grey;
  
   
}
.h1-div{
    padding :10px;
}
.div1{
    background-color:black;
    color:white;
    text-align: left;
}
.img-section7{
     width:40px;
     margin: 3px 8px;
}
.div-section7:hover{
    background-color:rgb(179, 175, 175);
}
/* ===================
        4.2.section8
=================== */
.div-section8{
    background-color: black;
    color:white;
    height:70px;
}
.section8{
    background-color:white; 
    margin:0 10px;
    margin-top: 10px;  
    height: 400px;
}
.p-section8{
     display: block;
     padding-top: 90px;
}
.div2-section8{
    height: 200px;
    background-color: gainsboro;
    width: 640px;
    margin:50px  auto ;
    text-align: center;
}

/* ===================
      4.2.section9
=================== */
.section9{
    margin:10px;
    background-color: white;
   
}
.div-section9{
    height:70px;
    background-color:black;
    color:white;
}
.h1-section9{
    padding:10px;
}

.p-section9{
    display:inline-block;
    padding:3px 8px;
    background-color: gainsboro;
    margin: 10px;
    
}
.different{
    display:inline-block;
    margin: 10px;
    padding:3px 8px;
    background-color: black;
    color:white;
}
/* ===================
      4.2.section10
=================== */
.section10{
    margin:10px;
    background-color: white;
   
}
.div-section10{
    background-color: black;
    color:white;
    height:70px;
}
.div2-section10{
    display:flex;
   
    justify-content: space-evenly;
}
.h1-section10{
    padding:10px;
}
.img-section10{
    width: 40%;
    height: 30%;
    margin: 10px;
}
/* ===================
      4.2.section11
=================== */
.section11{
    margin:10px;
    background-color: white;
    color:black;
    height:100px;
}
.div-section11{
    background-color: black;
    height:70px;
    color:white;
}
.a-section11{
    color:black;
    margin: 10px;
    font-size:20px;
}
/* ===================
      4.2.section12
=================== */
.section12{
    margin:10px;
    background-color: white;
    color:black;
    padding-bottom: 10px;
}
.div-section12{
    background-color: black;
    height:70px;
    color:white;
}
.input-section12{
    all:unset;
    display: block;
    width: 300px;
    margin:10px auto;
    padding:10px;
    border:2px solid black;
}
.p-section12{
    font-size: 20px;
    margin-left: 10px;
}
.btn-section12{
    all:unset;
    display: block;
    background-color: rgb(250, 75, 44);
    color:white;
    width: 300px;
    margin:10px auto;
    text-align: center;
    padding:10px;
}
/* ===================
      footer
=================== */
.fa-arrow-up{
     margin: 10px;
}
footer{
    background-color: teal;
    height: 100px;
}
.nav-footer{
    display: block;
    background-color: black;
    color:white;
    width: 130px;
    margin: 10px;
}
a{
    all:unset;
}
/* ===================
       mini-page
=================== */
@media(max-width:800px){
    .div-grid{
       all:unset;
    }
    .section6{
        padding-bottom:50px;
    }
    .btn-section12,.input-section12{
        width: 600px;
    }
    
   
}
/* ===================
       over-page
=================== */
@media(min-width:700px){
  
    .div2-section8{
       
        height: 200px;
        background-color: gainsboro;
        width: 440px;
        margin:50px  auto ;
        text-align: center;
    }
}